* {
    font-family: "Poppins", sans-serif;
    background-color: #003E1F;
  }
  
  html {
    margin: 0;
    padding: 0;
    transition: all 0.3s;
  }
  
  body {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section {
    flex-direction: column;
  }
  
  .inputDraw {
    display: flex;
    flex-direction: row;
  }
  
  @media screen and (max-width: 500px) {
      body{
          display: inline-block;
      }
      .main{margin: 80px 0;}
    .inputDraw {
      display: flex;
      flex-direction: column;
    }
    .inputDraw label, .inputDraw input, .inputDraw button {
      width: 100%;
      margin-top: 16px;
    }
    .inputDraw label {
      line-height: 16px;
    }
    .inputDraw button {
      padding: 16px 0;
    }
  }
  .title, .title h1, .title p {
    font-size: 40px;
    text-align: center;
    margin: 0;
    color: #D90429;
  }
  
  .info {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
  }
  
  label {
    color: #fff;
    line-height: 60px;
  }
  
  input, select, option {
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
    text-align: center;
  }
  
  input {
    width: 200px;
    border-radius: 5px;
    border: 1px solid #bbb;
  }
  
  input:focus {
    border-color: #06D6A0;
    box-shadow: 0 0 5px #06D6A0;
  }
  
  button {
    font-size: 18px;
    border-radius: 8px;
    padding: 14px 30px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #D90429;
  }
  
  button:hover {
    box-shadow: 0 0 16px rgba(239, 35, 60, 0.8);
  }
  
  .admin-use {
    bottom: 0;
    width: 100%;
    position: absolute;
    border: 1px solid transparent;
    padding-top: 16px;
    border-top-color: #386641;
  }
  
  .admin {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 500px) {
    .admin {
      flex-direction: column;
    }
    .admin label, .admin input, .admin button {
      width: 70%;
      margin: 8px 0;
    }
    .admin label{
        line-height: auto;
    }
    .admin button{
        padding: 8px 30px;
    }
  }
  .password {
    font-size: 14px;
    color: #888;
  }
  
  #password {
    padding: 8px 16px;
    border: 1px solid #888;
  }
  
  .showpw {
    background-color: #6A994E;
    font-size: 14px;
  }
  
  .showpw:hover {
    box-shadow: 0 0 16px rgba(167, 201, 87, 0.8);
  }
  
  #result {
    color: #fff;
  }
